.main-privacy {
  width: 100%;
  height: calc(100vh - 200px);
  z-index: 0;
  margin: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 1440px;
}


.main-privacy {
  --sb-track-color: #232E33;
  --sb-thumb-color: #3fff68;
  --sb-size: 12px;
}

.main-privacy::-webkit-scrollbar {
  width: var(--sb-size)
}

.main-privacy::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

.main-privacy::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
  
}

@supports not selector(::-webkit-scrollbar) {
  .main-privacy {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.main-privacy h2, h3,
.main-privacy p {
  color: var(--text-color-bluelight);
  font-family: "Kantumruy Pro", sans-serif;
}

.background-objects {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.background-dot1,
.background-dot2,
.background-wave {
  z-index: 0;
}

.background-dot1 {
  top: 50%;
  left: 0;
}

.background-dot2 {
  right: 0;
  top: 50%;
}

.back-btn {
  scale: 1;
  transition: scale 0.3s ease;
}
.back-btn:hover {
  scale: 1.3;
}

.background-wave img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.footer {
  padding: 0 20px 0 20px;
  gap: 32px;
  display: flex;
  z-index: 6;
}

.footer a {
  color: var(--text-color-bluelight);
  font-family: "Kantumruy Pro", sans-serif;
  padding-right: 64px;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1500px) {
  .footer {
    left: 20px;
    right: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .footer a {
    padding: 0;
    cursor: pointer;
  }
}
